<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/index.css" rel="stylesheet">
    <title>个人博客</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
	    body{background:url("images/bg.jpg") repeat-y 0px 0px;padding-top: 70px;
		}
		ul { list-style: none; }
	</style>
	 
	
  </head>
  <body>
  
       <!-- Static navbar -->
      <% include ./header%>
	
     <!--图片-->
       <div class="container-fluid">
    <div class="banner">
  <section class="box">
    <ul class="texts">
      <p>生命中，总有不舍的一页，那么深，又那么暖。</p>
      <p>让温暖，覆盖了冬季的寒凉与萧索。</p>
      <p>让牵念，沉香了岁月的苍老与苦涩。</p>
    </ul>
  </section>
</div>
    </div>
	 <!--文章-->
	<div class="container" >
        <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-8">
		        <div class="topnews">
      <h2><span><a href="/" target="_blank">栏目标题</a><a href="/" target="_blank">栏目标题</a><a href="/" target="_blank">栏目标题</a></span><b>文章</b>推荐</h2>
     <% list.forEach(function(acticle){%>
	 <div class="blogs">
	     
		 <figure><img src="images/01.jpg"></figure>
        <ul>
          <h3><a href="./content?a_id=<%=acticle.a_id%>"><%=acticle.title%></a></h3>
          <p><%=acticle.intro%></p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l"><%=acticle.addtime%></span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
        </ul>
        
      </div>
	 <% })%>
      <div class="blogs">
        <figure><img src="images/02.jpg"></figure>
        <ul>
          <h3><a href="/">教你怎样用欠费手机拨打电话</a></h3>
          <p>初次相识的喜悦，让你觉得似乎找到了知音。于是，对于投缘的人，开始了较频繁的交往。渐渐地，初识的喜悦退尽，接下来就是仅仅保持着联系，平淡到偶尔在节假曰发短信互致问候...</p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2016-12-06</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
        </ul>
      </div>
      <div class="blogs">
        <figure><img src="images/03.jpg"></figure>
        <ul>
          <h3><a href="/">原来以为，一个人的勇敢是，删掉他的手机号码...</a></h3>
          <p>原来以为，一个人的勇敢是，删掉他的手机号码、QQ号码等等一切，努力和他保持距离。等着有一天，习惯不想念他，习惯他不在身边,习惯时间把他在我记忆里的身影磨蚀干净... </p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2016-12-06</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
        </ul>
      </div>
      
      
      <div class="blogs">
        <figure><img src="images/06.jpg"></figure>
        <ul>
          <h3><a href="/">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></h3>
          <p>现在跨界联姻，时尚、汽车以及运动品牌联合手机制造商联合发布手机产品在行业里已经不再新鲜，上周我们给大家报道过著名手表制造商瑞士泰格·豪雅（Tag Heuer） 联合法国的手机制造商Modelabs发布的一款奢华手机的部分谍照，而近日该手机终于被正式发布了...</p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2016-12-06</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
        </ul>
      </div>
      <div class="blogs">
        <figure><img src="images/04.jpg"></figure>
        <ul>
          <h3><a href="/">手机的16个惊人小秘密，据说99.999%的人都不知</a></h3>
          <p>引导语：知道么，手机有备用电池，手机拨号码12593+电话号码=陷阱……手机具有很多你不知道的小秘密，说出来一定很惊奇！不信的话就来看看吧！...</p>
          <p class="autor"><span class="lm f_l"><a href="/">个人博客</a></span><span class="dtime f_l">2016-12-06</span><span class="viewnum f_r">浏览（<a href="/">459</a>）</span><span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
        </ul>
      </div>
    </div>
		   </div>
		   
		   <!--右半侧-->
           <div class="col-xs-12 col-sm-6 col-md-4">
		          <aside class="row">
	 
      <div class="avatar">
        <a href="#" style="text-decoration:none;"><span>陌上开花</span></a>
      </div>
	  
	  <div class="panel panel-default ">
	 
      <div class="panel-body topspaceinfo ">
	    <p>姓名：邢悦<span></span></p>
	    <p>网名：陌上开花</p>
		<p>邮箱：23263194@163.com</p>
		<p>主页：<a href="#" style="color:#fff">www.lingmo.com</a></p>
        <h1>陌上花开，可缓缓归矣</h1>
        <p>陌上花开，如果没有悄然伫立阡陌并为陌上风情所陶醉的人，那么花开也寂寞，风情也苍白....</p>
      </div>
	  </div>
	
      <div class="userinfo"> 
        <p class="q-fans"> 粉丝：<a href="/" target="_blank">500</a></p> 
        <p class="btns"><a href="/" target="_blank" >私信</a><a href="/" target="_blank">相册</a><a href="/" target="_blank">存档</a></p>   
      </div>
      <section class="newpic">
         <h2  >最新照片</h2>
         <ul>
           <li><a href="/"><img src="images/01.jpg"></a></li>
           <li><a href="/"><img src="images/02.jpg"></a></li>
           <li><a href="/"><img src="images/03.jpg"></a></li>
           <li><a href="/"><img src="images/04.jpg"></a></li>
           <li><a href="/"><img src="images/05.jpg"></a></li>
           <li><a href="/"><img src="images/06.jpg"></a></li>
           <li><a href="/"><img src="images/07.jpg"></a></li>
           <li><a href="/"><img src="images/08.jpg"></a></li>
         </ul>
      </section>
      <section class="cloud">
         <h2>标签云</h2>
         <ul>
         <li><a href="/">个人博客</a></li>
        <li><a href="/">青青唠叨</a></li>
        <li><a href="/">前端设计</a></li>
        <li><a href="/">Html</a></li>
        <li><a href="/">CSS3</a></li>
        <li><a href="/">青空</a></li>
        <li><a href="/">Javasript</a></li>
        <li><a href="/">study</a></li>
        <li><a href="/">Html5+css3</a></li>
        <li><a href="/">百度</a></li>
        </ul>
      </section>
	  
	   <section class="news">
         <h2>近期文章</h2>
      
          <ul>
            <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
          </ul>
        
      </section>
	  
	  <section class="gzw">
         <h2>友情链接</h2>
           
          <ul>
            <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>
            <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>
            <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>
            <li><a class="wx" href="mailto:admin@admin.com" target="_blank">邮箱</a></li>
          </ul>
           <a a href="/" target="_blank" class="me" >邢悦个人博客</a>
      </section>
	  
    </aside>
		   
		   </div>
        </div>
    </div>
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>