<div class="col-xs-12 col-sm-6 col-md-4">
		          <aside class="row">
      
	  <div class="rnav">
      <ul>
       <li class="rnav1"><a href="/download/" target="_blank">日记</a></li>
       <li class="rnav2"><a href="/newsfree/" target="_blank">程序人生</a></li>
       <li class="rnav3"><a href="/web/" target="_blank">欣赏</a></li>
       <li class="rnav4"><a href="/newshtml5/" target="_blank">短信祝福</a></li>
     </ul>      
    </div>
	<section class="news">
         <h2>最新文章</h2>
      
          <ul>
            <li><a href="/" target="_blank">陌上花开，可缓缓归矣...</a></li>
            <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
            <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
            <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
          </ul>
        
      </section>
	  <section class="news2">
         <h2>栏目推荐</h2>
      
          <ul>
		    <li><a href="/" target="_blank">用心品友，以德做人</a></li>
            <li><a href="/" target="_blank">淡淡的友情，淡淡的爱</a></li>
            <li><a href="/" target="_blank">住在手机里的朋友</a></li>
            <li><a href="/" target="_blank">爱之深，恨之切，爱有多深，情有多</a></li>
            <li><a href="/" target="_blank">写一纸寂寥，世间风华无好</a></li>
            <li><a href="/" target="_blank">冬季是一个往回收的季节，一切都还原了本色</a></li>
           
          </ul>
        
      </section>
	  
      <section class="newping">
         <h2  >最新评论</h2>
         <ul class="pl_n">
        <dl>
          <dt><img src="images/s8.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="images/s7.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
        <dl>
          <dt><img src="images/s6.jpg"> </dt>
          <dt> </dt>
          <dd>小林博客
            <time>8月7日</time>
          </dd>
          <dd><a href="/">博客色彩丰富，很是好看</a></dd>
        </dl>
        <dl>
          <dt><img src="images/s0.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="images/s2.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
      </ul>
      </section>
      <section class="newpic">
         <h2  >最近访客</h2>
         <ul>
           <li><a href="/"><img src="images/s1.jpg"></a></li>
           <li><a href="/"><img src="images/s2.jpg"></a></li>
           <li><a href="/"><img src="images/s0.jpg"></a></li>
           <li><a href="/"><img src="images/04.jpg"></a></li>
           <li><a href="/"><img src="images/s5.jpg"></a></li>
           <li><a href="/"><img src="images/s6.jpg"></a></li>
           <li><a href="/"><img src="images/s7.jpg"></a></li>
           <li><a href="/"><img src="images/s8.jpg"></a></li>
		   <li><a href="/"><img src="images/s3.jpg"></a></li>
		   <li><a href="/"><img src="images/01.jpg"></a></li>
		   <li><a href="/"><img src="images/02.jpg"></a></li>
         </ul>
      </section>
	  
	  <section class="gzw">
         <h2>友情链接</h2>
           
          <ul>
            <li><a class="xlwb" href="#" target="_blank">新浪微博</a></li>
            <li><a class="txwb" href="#" target="_blank">腾讯微博</a></li>
            <li><a class="rss" href="portal.php?mod=rss" target="_blank">RSS</a></li>
            <li><a class="wx" href="mailto:admin@admin.com" target="_blank">邮箱</a></li>
          </ul>
           <a a href="/" target="_blank" class="me" >邢悦个人博客</a>
      </section>
	  
    </aside>
		   
		   </div>